// Utility classes
.animate{
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animate.animate--count{
  animation-iteration-count: 1;
}
.aniate.animate--fast{
  animation-duration: 1s;
}
@keyframes slideInLeft {
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from{
    transform: translateX(300px);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes rotate {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
.rotate{
  animation-name: rotate;
  animation-timing-function: linear;
}

.nav__logo{
  width: 100px;
}

// Top nav bar
.topNav{
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, black, transparent);
  z-index: 10;
  padding-bottom: 50px;
  select{
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 20px;
  }
  .navbar{
    justify-content: right;
    align-items:end;
  }
}



// home banner
.home-banner{
  height: 100vh;
  overflow: hidden;
  h1{
    font-size: 3.125rem;
  }
  h2{
    font-size: 1.625rem;
  }
  .shadow{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .our-story{
    position: absolute;
    color: white;
    text-align: center;
    top: 35%;
    width: 600px;
    left: calc(50% - 300px);
    z-index: 1;
    .our-story-card-title{
      animation-name: slideInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
    }
    .our-story-card-subtitle{
      animation-name: slideInRight;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
    }
    @media (max-width: 768px) {
      /* Styles for screens up to 768px width */
      .our-story {
        width: 80%; /* Adjust width for smaller screens */
        left: 10%; /* Center the element within the container */
      }
    }
    
  }
  .input-group{
    input{
      height: 54px;
      padding: .2rem 1rem;
      border-radius: 0;
    }

    button{
      font-size: 1.5rem;
      padding: .2rem 1.5rem;
      border: 0;
      height: 54px;
      font-weight: normal;
      color:white;
    }
  }
}
.input-group:hover{
  transform: translateY(10px);
}

// Login Page
.login{
  height: 100vh;
  overflow: hidden;

  .holder{
    padding: 60px 68px 40px;
    background-color: white;
    min-height: 460px;
    width: 450px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    left: calc(50% - 225px);

    input{
      background-color: white;
      border: 0;
      margin-bottom: 20px;
      color: black;
    }
  }
  .shadow{
    // background-color: rgba(254, 253, 253, 0.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    /* Styles for screens up to 768px width */
    .our-story {
      width: 80%; /* Adjust width for smaller screens */
      left: 10%; /* Center the element within the container */
    }
  }
  .login-form-other{
    .login-signup-now {
      color: #737373;
      font-size: 16px;
      font-weight: 500;
      margin-top: 16px;
      a {
        color: #fff;
      }
    }
  }
}

// Banner
.banner {
  background-image: url("https://media1.tenor.com/images/920ca78771f41261b322b176c4ef7e66/tenor.gif?itemid=10157453");
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 448px;
  object-fit: contain;
  position: relative;

  .banner__contents {
    height: 190px;
    margin-left: 30px;
    padding-top: 140px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner__description {
    font-size: 16px;
    height: 80px;
    line-height: 1.3;
    line-height: 24px;
    max-width: 360px;
    padding-top: 1rem;
    width: 45rem;
  }
  
  .banner__button {
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    outline: none;
    padding: 0.5rem 2rem;
  }
  
  .banner__button:hover {
    background-color: #e6e6e6;
    color: #000;
    transition: all 0.2s;
    transform: translateY(-10px);
  }
  
  .banner--fadeBottom {
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
    height: 7.4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

// List
.list{
  >.row{
    flex-direction: column;
    margin: 0;
  }
  .title{
    margin: 30px;
    margin-bottom: 0;
  }
  .row__posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0 20px 0;
  }
  
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  
  .row__poster {
    margin-right: 10px;
    max-height: 100px;
    object-fit: contain;
    opacity: 0.8;
    transition: transform 0.45s;
    width: 100%;
  }
  
  .row__poster:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.08);
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .row__posterLarge:hover {
    opacity: 1;
    transform: scale(1.09);
  }
}
/* Feature Section */
.white-section {
  background-color: #fff;
  padding: 80px 0; /* Adjust padding as needed */
}

.feature-box {
  text-align: center;
  margin-bottom: 30px;
}
.feature-box:hover{
  transform: translateY(10px);
}

.feature-box i {
  font-size: 4em;
  color: #007bff; /* Adjust icon color as needed */
}
.feature-box i:hover{
  transform: translateY(-10px);
}

.feature-title {
  font-size: 1.5em;
  margin-top: 20px;
}

/* Testimonial Section */
/* Add this to your CSS file or style tag */
.carousel-image {
  width: 1500px;
  height: 400px; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(21, 15, 54);
  color: white;
  padding: 10px;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer-column {
  flex: 1;
}

.footer-title {
  color: whitesmoke;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between cards as needed */
}

.card-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid transparent; /* Adjust the border size and color */
  background: linear-gradient(to bottom right, #250299, #163aa5,#052687, #02103a);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with mouse events */
}

.card-container:hover::before {
  opacity: 1;
}

.view-more-link {
  position: absolute;
  bottom: 20px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: #090348;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for opacity and transform */
}

.card:hover .view-more-link {
  opacity: 1;
  transform: translateX(-50%) translateY(-200px); /* Adjust the translateY value for the desired vertical movement */
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;

  


  h3 {
      margin: 0;
      color: #333;
  }

  p {
      color: #666;
      margin-top: 10px;
  }
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.card-content {
  padding: 20px;
}

// About Us
.about {
  background-image: url("https://wl-img-prd.s3-accelerate.amazonaws.com/353e9dc3-19b4-438b-b44d-d09907d7bbac-h.jpeg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 448px;
  object-fit: contain;
  position: relative;

  .about__contents {
    height: 190px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 240px;
    
  }
  
  .about__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  .about__contents:hover{
    transform: translateY(-10px);
  }
  .about__description {
    font-size: 18px;
    height: 80px;
    line-height: 1.3;
    line-height: 24px;
    max-width: 360px;
    width: 45rem;
    text-align: center;
  }
}
.about_section{
  padding: 20px;
  .about__image1{
    width: 618px;
    height: 412px;
    animation-name: slideInLeft;
    box-shadow: -8px -7px 5px #9378ed;

  }
  .about__image2{
    width: 618px;
    height: 412px;
    animation-name: slideInRight;
    box-shadow: 8px 7px 5px #9378ed;
  }
  .about_section_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .about_section_content{
    font-size: 1.1rem;
    font-weight: 150;
    padding: 10px;
  }
}

@media (max-width: 767px) {
  /* Styles for phones go here */
  .home-banner{
    video{
      
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets go here */
}
